

.fl{ float:left;}.fr{ float: right;}
i.tip{display: block;position: absolute;   width: .1rem; height: .1rem; background: red; z-index: 2; border-radius: .5rem;}
/*橙色冒泡小提示*/
#promptTip{ display: none;  position: fixed;  top:50%; margin-top: -.1rem; padding: 0 25px; height: .3rem; line-height:.3rem; border: 1px solid #fe851d; background:#fff9ef url("../img/ic-prompt.png") no-repeat .12rem center; text-indent:.1rem; color: #fe851d; font-size: .12rem; border-radius:.03rem;}
.load{ text-align: center;    padding: .3rem;}

/* 头部*/
.header{position: relative; height:.375rem; background: #04bcfa;}
.header i.tip{top:.1rem;  left: .38rem;}
.header p{height:.375rem; font-size: .17rem; line-height: .375rem;  text-align: center; color: #fff;}
.header a,.header span{  display: block; position: absolute; top: 0; width:.32rem;  height:.32rem; background-repeat: no-repeat; background-size: cover;}
.header a{left: .05rem; top:.03rem; background-image: url("../img/head_fl.gif");}
.header a.return{left: .05rem; top:.03rem; background-image: url("../img/ic-return.gif");}

.header span.new{ right:.05rem; top:.03rem; background-image: url("../img/ic-new.png");}

/*焦点图*/
.swiper-container { position:relative;width: 100%; height:1.5rem; overflow:hidden;}
.swiper-container .swiper-slide{ float: left; width: 100%; height:1.5rem;}
.swiper-container .swiper-slide img{ display: block; width: 100%;  height:1.5rem;}
.percount-box{position: absolute; bottom:.05rem; width:100%; height:.15rem;}
.swiper-container .swiper-percount{ position: absolute; left:50%; bottom:.01rem;margin-left: -.16rem;}
.swiper-container .swiper-percount .swiper-pagination-switch{ float: left; display: inline; width:.08rem; height: .08rem; margin-right:.06rem;cursor:pointer;border-radius:.5rem;background-color:#FFF; opacity:.5;}
.swiper-container .swiper-percount .swiper-active-switch{background-color:#FFF;opacity:10;}

/*登录*/
.sign-in{width: 100%; height:1.5rem;  background: #04bcfa;}
/*.sign-in>div{ position: relative;}*/
.sign-in .pic{ position: relative; left: 50%; margin-left: -.4rem; margin-top: .2rem;  width: .8rem; height:.8rem;  background: #fff; text-align: center; border-radius: 8rem; }
.sign-in .pic img{ width: .525rem; height:.525rem; margin-top: .1rem;  }
.sign-in .name{ margin-top: .05rem;}
.sign-in .name span{ display: block; color: #fff; font-size: .16rem; text-align: center;}

/*中间进入按钮*/
.menu_cont{ padding: .1rem;}
.menu_cont ul{ padding: .02rem 0; background: #fff; border-radius: .03rem;box-sizing:border-box;}
.menu_cont ul li{ float: left; width: 1rem; height: 1rem; border-right: 1px solid #f4f3f3; text-align: center;}
.menu_cont ul li:nth-of-type(3),.menu_cont ul li:nth-of-type(6){ border-right: 0;}
.menu_cont ul li.bor{border-bottom: 1px solid #f4f3f3;}
.menu_cont ul li a{ display: block;}
.menu_cont ul li a img{width: .35rem; height: .35rem; margin: .15rem 0 .08rem 0 ;}
.menu_cont ul li a span{ display: block; color: #333;font-size: .13rem;}
.menu_cont ol li{ height: .65rem; margin-bottom: .1rem;padding-right: .05rem;background: #fff; }
.menu_cont ol li a{ display: block;height: .65rem; background:url("../img/business_fr.gif") no-repeat right center;}
.menu_cont ol li .pic{ display: inline-block; width: .65rem; text-align: center; }
.menu_cont ol li .pic img{width: .37rem; height: .37rem;}
.menu_cont ol li .name{display: inline-block;margin-top: .1rem;}
.menu_cont ol li .name strong{ display: block; color: #333; font-size: .16rem;}
.menu_cont ol li .name span{ display: block; margin-top: .05rem; color: #666;}

/*首页进入按钮*/
.home_menu p{ float: left; width: .87rem; height: .87rem; margin: .19rem .19rem .19rem 0; background: #fff; border-radius: .9rem; text-align: center;}
.home_menu p:nth-of-type(3),.home_menu p:nth-of-type(6){margin-right: 0;}
.home_menu p a{ display: block;}
.home_menu p a img{width: .4rem; height: .4rem; margin-top: .1rem;}
.home_menu p a span{ display: block; color: #333;font-size: .12rem;}


/*订单状态*/

/*#orderStatusCont .list{ display: none;}*/
.order-status-tab{ height:.37rem; background: #fff;}
.order-status-tab a{ float: left; width: .8rem; height:.37rem; line-height: .37rem; font-size: .13rem; color: #666; text-align: center; border-bottom:2px solid #fff;}
.order-status-tab a.act{border-bottom:2px solid #08b0f7; color: #08b0f7;}

.car-status-tab a{  width: 50%;}

.order-status-cont .list{ position: relative; margin:.1rem; background: #fff; border: 1px solid #f4f3f3; padding:0 .08rem .03rem; border-radius: .03rem;}
.trajectory{ position: absolute; right: 0; top:.5rem; width: .5rem; height: .5rem; background: url("../img/ic-trajectory.gif") no-repeat; background-size: cover;}
.order-status-cont .list h2{ height: .35rem; line-height: .35rem; font-size: .12rem; border-bottom: 1px solid #f4f3f3;}
.order-status-cont .list h2 p{height: .35rem;  line-height: .35rem; }
.order-status-cont .list h2 b{ margin-right: .05rem;}
.order-status-cont .list h2 span{ color:#08b0f7; }

.order-status-cont .list h2 i{ display: inline-block; width: .225rem; height: .225rem; margin-left: .15rem; margin-top: .06rem;}
.order-status-cont .list h2 i.edit{ background: url("../img/ic-edit.gif") no-repeat; background-size: cover;}
.order-status-cont .list h2 i.delete{background: url("../img/ic-delete.gif") no-repeat; background-size: cover;}
.order-status-cont .list h2 a{ padding: .05rem .08rem; margin-left: .1rem;background: #08b0f7; color: #fff;font-size: .1rem; border-radius: .03rem;}
.order-status-cont .list ul{ font-size: .13rem;}
.order-status-cont .list ul li{ margin: .06rem 0;}
.order-status-cont .list ul label{ margin-right:.03rem; font-size: .12rem; color: #666;}
.order-status-cont .list ul label img{ width: .2rem; height: .2rem; margin-right:.03rem;vertical-align: -.03rem;}
.order-status-cont .list ul li span.red{ color: red;}
.order-status-cont .status{ height: .4rem; line-height: .4rem; text-align: center; font-size: .15rem;color: #08b0f7;}

.more{ position: fixed; width: 100%; bottom: 0; height: .35rem; border-top: 1px solid #ddd; line-height: .35rem; text-align: center;}
.more a{ display: block;  background: #FFF; font-size: .12rem; color: #999;}
.search{width: 100%; bottom: 0; margin-top: .1rem;  padding: .1rem; border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; background: #fff; line-height: .35rem; }
.search input{ width: 2.4rem; height: .3rem; line-height: .3rem; border: none; text-indent: .08rem; font-size: .13rem;  background: #f4f3f3; border-radius: .03rem;}
.search a{ padding:0 .1rem; height: .3rem; line-height: .3rem; text-align: center; background: #08b0f7; color: #fff; font-size: .14rem; border-radius: .03rem;}


/*用车申请*/
.car-apply-cont{ height: .25rem; line-height: .25rem; padding: .1rem;}
.car-apply-cont h2{ border-bottom: 1px dashed #ddd; font-size: .13rem; margin-bottom: .1rem;}
.car-apply-cont h2 sup{ color: red; margin-right: .03rem;}
.car-apply-cont p{ position: relative; margin-bottom: .15rem;}
.car-apply-cont p label{ float: left; width: .4rem;height: .25rem; text-align: center;}
.car-apply-cont p label img{ width: .2rem; height: .2rem; margin-top: .02rem;}
.car-apply-cont input,.car-apply-cont select{ float: left; width: 85%; border:1px solid #eee; text-indent: .05rem; height: .3rem; line-height: .3rem; font-size: .12rem;}
.car-apply-cont .api input,.car-apply-cont  .design input{padding-right: .3rem;}
.car-apply-cont p a{ position: absolute; display: block; right: .03rem; top:0; width: .3rem; height: .3rem;}
.car-apply-cont .api a{ background: url("../img/apply_api.gif") no-repeat center; background-size: 70%;}
.car-apply-cont .design a{ background: url("../img/apply_open.gif") no-repeat center; background-size: 70%;}

.car-apply-cont  textarea{float: left; width: 85%; padding: .03rem 0; border:1px solid #eee; text-indent: .05rem; height:.8rem;}
.bnt-apply{ text-align: center; margin-bottom: .2rem;font-size: .12rem;}
.bnt-apply a{ display: inline-block; height: .3rem;width: 40%; margin:2%; color: #fff; font-size: .13rem; line-height: .3rem; text-align: center; }

.bnt-apply a.confirm{ background: #08b0f7; }
.bnt-apply a.canel{ background: #ddd; }

/*服务评价*/
.ic-evaluate{ text-align: center; }
.ic-evaluate a{ display: inline-block;width:.32rem; height: .32rem; margin: .05rem; background: url("../img/evaluate.png") no-repeat; background-size: cover;}
.ic-evaluate a.act{background: url("../img/evaluate_act.gif") no-repeat; background-size: cover;}


.inquiry{font-size: .12rem; margin: .1rem; }

.inquiry p{margin-top: .05rem}
.inquiry p label{font-size: .1rem;}
.inquiry p.r label{ float: left; width: .5rem;height: .27rem; line-height: .27rem;}
.inquiry select,.inquiry input{ border:1px solid #eee; padding-right:.1rem; text-indent: .02rem; height: .27rem; line-height: .27rem;font-size: .12rem; }
.inquiry input{ float: left; width: 83%; padding-right: 0;}

.inquiry .total{height: .27rem;line-height: .27rem; color: red;}
.order-status-cont .list h2 a.gray{ background: #ddd;}
.order-status-cont .list h2 a.red{ background: red;}
.order-status-cont .list h2 a.orange{ background: #f60;}
.car-apply-cont  .label-text{ font-size: .12rem;}
.car-apply-cont  .label-text label{width: .7rem; text-align: right;}
.car-apply-cont  .label-text input,.car-apply-cont .label-text select { width: 70%;}
.car-apply-cont  .label-text  textarea{ width:75%;}
.search-bnt{ text-align: center; margin-bottom: .3rem;}
.search-bnt a{ display: inline-block;padding: .03rem .1rem; margin: 0 .03rem;}
#queryInsuranceProduct{ background: #08b0f7; color: #FFF;}
#resetInsuranceProduct{ background: #ddd; color: #666;}

.layer{ display: none; position: fixed; left: 0;top:0; width: 100%; height: 100%; background:#000; opacity: .7; z-index: 99;}
.layer-cont{ display: none; position: fixed;top:25%;   width:90%; background: #fff;  margin:5%; z-index: 100; border-radius:.03rem; overflow: hidden; }
.layer-cont h2{ position: relative;padding: 2%; font-size: .16rem;  line-height: .3rem; border-bottom: 1px solid #ddd;}
.layer-cont h2 b{ color: red;}
.layer-cont h2 a{ position: absolute; display: block; top:.1rem; right: 0; width: .3rem; height: .3rem; background: url("../img/fxdz_btnClose.png") no-repeat;}
.layer-cont .main{ font-size: .13rem; }
.layer-cont .main p{height: .25rem; line-height: .25rem;}
.layer-cont .main label{ color: #888;}
.layer-cont .main span{}

.layer-cont .drive-main{padding: .1rem;}
.layer-cont .drive-main p span{ color: #f60;}
.layer-cont .settlement-main{ padding: 0 0 .3rem;}
.layer-cont .settlement-main p{padding: .1rem;}
.layer-cont .settlement-main p label{ float: left; font-size: .12rem;}
.layer-cont .settlement-main p span{ float: right; color: red;}

.succ-main{  text-align: center; padding: .3rem 0;}
.succ-main .text{ font-size: .16rem}
.succ-main .open{  font-size: .1rem;}
.succ-main a{ color: #04bcfa; text-decoration: underline; margin: 0 .05rem;}
.layer-cont .bnt{ border-top: 1px solid #ddd; text-align: center;}
.layer-cont .bnt a{ display: inline-block; height: .4rem; line-height: .4rem; text-align: center; width: 100%; font-size: .13rem;}
.layer-cont .bnt a.confirm{ background: #08b0f7; color: #fff;}
.layer-cont .bnt a.close{ background: #f4f3f3;}
.layer-cont .dispatch-bnt a{ width: 50%;}

.car-api-cont{ width: 100%; background: #fff;}
.car-api-cont h2{ height: .4rem; margin: 0 .1rem; line-height: .4rem; font-size: .15rem; color: #f60; border-bottom:1px solid #ddd;}
.not-data{ text-align: center; padding: .3rem;}

/*用户登录主页*/
.log .pic{ position: relative; left: 50%; margin-left: -.65rem; margin-top: .3rem;  width: 1.3rem; height:1.3rem;  background: #fff; text-align: center; border-radius: 8rem; }
.log .pic img{ width: .8rem; height:.8rem; margin-top: .25rem;  }
.log h1{ text-align: center;  height: 1rem; line-height: 1rem; font-size: .2rem; color: #ccc;text-shadow: -1px -1px 0 #586b85,1px 1px 0 #333,1px 1px 0 #444;}
.log .user-cont{ margin: .2rem;}
.log .user-cont p{ margin:.2rem 0; border-bottom: 1px solid #586b85;}
.log .user-cont p label{  float:left;  width: .32rem; height: .32rem; text-align: center;}
.log .user-cont p label img{ width: .22rem; height: .22rem;}
.log .user-cont p input{float:right; width: 88%; height: .32rem; border: none; color: #fff; background: #2f4159; font-size: .13rem; line-height: .32rem; text-indent:.05rem;}
.log .log-bnt{ text-align: center; margin:.35rem .2rem;}
.log .log-bnt a{ display: inline-block; width: 100%; height: .4rem; line-height: .4rem; font-size:.15rem; background: #04bcfa; color: #fff; border-radius: .03rem;}
.log-help{ color: #586b85;text-align: center; font-size: .11rem;}
.log-help a{ color: #586b85; margin: .03rem;}

/*底部*/
.footer{  position: fixed; bottom: 0; width: 100%; padding: .05rem 0; background: #fff; border-top:1px solid #ddd;box-sizing:border-box;}
.footer p{ position: relative; float: left; width: .8rem; text-align: center;border-right:1px solid #eee;}
.footer p:last-of-type{border-right:0;}
.footer p i.tip{top:.01rem;  right: .15rem;}
.footer p a{ display: block; }
.footer p a img{ width: .35rem; height: .35rem;}
.footer p a span{ display: block;  color: #666; font-size: .12rem;}


